@import "variables";
@import "styles-bootstrap";

@mixin hover {
    &:hover {
        color: $rgba;
        @content;
    }
}

* {
    list-style: none;
    padding: 0px;
    text-decoration: none;
    font-family: $font;
    margin-left: 1px;
    margin-right: 1px;
    scroll-behavior: smooth;
}

html {
    font-size: 100%;
}

h1 {
    color: transparent;
    font-family: $font;
    text-align: center;
}

h2 {
    color: transparent;
    font-family: $font;
    text-align: center;
}

h3 {
    color: rgb(255, 255, 255);
    font-family: $font;
    text-align: center;
    list-style-type: none;
    box-sizing: border-box;
}

header {
    background-color: $backgroundColour;
}

body {
    background-color: $backgroundColour;
}

a {
    box-sizing: border-box;
}

.header {
    height: 100px;
    padding: 2px;
}

/* navbar */

.subnav {
    .subnavbtn {
        color: $fontColour;
        border: none;
    }

    &:hover {
        .subnav-content {
            display: block;
        }
    }
}

.subnav__content {
    display: none;
    overflow: visible;
    height: auto;
    position: absolute;

    a {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: wrap;
        align-items: stretch;
        width: 90px;
        background-color: $backgroundColour;
        color: $rgba;

        &::before {
            border-bottom: 2px solid $fontColour;
        }
    }
}


/* main */

#intro {
    display: flex;
    border: 0px;
    flex-direction: column;
    max-width: 100%;
    height: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 0px;

    #main {
        background-image: url(../resources/portrait.jpg);
        background-size: cover;
        background-position: center;
        height: 500px;
        width: auto;
        background-size: inherit;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: flex-start;
    }
}

.icon {
    display: flex;
    color: $fontColour;
    font-size: 2.1875em;
    width: 0px;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;

    @include hover {
        animation: blink 1s steps(5, start) infinite;
        opacity: 0.9;
        transition: 0.9s;
        scroll-behavior: smooth;

    }
}

/* biography__Index */

.biography {
    display: flex;
    height: fit-content;
}

.bio__text {
    text-align: justify;
    display: flex;
    padding-block: 25px;
    margin-left: 60px;
    margin-right: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    color: #b6b6b6;

}

blockquote h3 {
    font-size: 1.5625em;
}

blockquote h3:before {
    content: "\00bb";
    font-weight: bold;
    font-size: 3.125em;
    color: $rgba;
    left: 0px;
    font-family: 'Georgia';
    top: -15px;
    position: absolute;
}

blockquote h3:after {
    content: "\00ab";
    font-weight: bold;
    font-size: 3.125em;
    color: $rgba;
    position: absolute;
    bottom: -0.6em;
    right: 10px;
    font-family: 'Georgia';
    display: none;

}

.readmore {
    color: #b6b6b6;
    display: contents;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: $rgba;

    &.readmore:hover {
        color: $rgba;

    }
}


/* members  */

.flex__list {
    max-width: 100%;
    height: 1900px;
    background: $backgroundColour;
    margin-bottom: 25px * 2;
    padding: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    overflow: scroll;
    gap: 20px;
}

.gridmembers {
    display: flex;
    margin-bottom: 25px;
    justify-content: center;

    &:hover {
        transform: scale(1.1, 1.1);
        transition: all 300ms ease-in-out;


    }
}



/* Popups */


.btn-open-popups {
    position: absolute;
    opacity: 0;
    height: 310px;
    width: 210px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;


    &:hover {
        opacity: 1;
        color: $rgba;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 1.5em;
    }
}


.container-all {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;

}

.container-all:target {
    background-color: $backgroundColour;
    visibility: visible;
    opacity: 1;
}

.popups {
    display: flex;
    width: -webkit-fill-available;
    height: fit-content;
    position: absolute;
    padding-left: 10%;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: $backgroundColour;
    z-index: 1;
    padding-top: 3%;
}

.img {
    width: 200px;
    height: 300px;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);

}

.container-text {
    width: 60%;
    padding-left: 10%;
    overflow-y: auto;
}

.container-text h4 {
    font-size: 1.875em;

}

.container-text p {
    margin-top: 20px;
    font-size: 1.125em;
}

.btn-close-popups {
    width: 50px;
    height: 50px;
    position: inherit;
    padding: 8px;
    background-color: $rgba;
    color: transparent;
    border-radius: 21%;
}


.contents {
    background-color: rgba(0, 0, 0, 0.7);
    color: $fontColour;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

/* .clix {
    width: fit-content;
}


.clix:hover {
    filter: brightness(20%);

} */


.bios {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    margin-top: 25px;
    grid-area: main;

}

.container-members {
    margin-top: 40px;
}

/* members INDEX */

.content {
    position: absolute;
    color: $fontColour;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    opacity: 0;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.7);

    &:hover {
        opacity: 1;
        margin-bottom: 25px;
    }

}

/* contact form */

input {
    margin: 10px;
}

.formularios {
    color: $fontColour;
    font-family: $font;
    text-align: center;
    margin-top: 20px;
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-around;

    .imputs {
        padding: 20px;
    }
}

.dix {

    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.checkboxes {
    display: flex;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    width: auto;
}


.buttonss {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 400;
    font-style: normal;
    border-color: rgba(255, 255, 255, 0.9);
    color: $fontColour;
    position: relative;

}

.player {
    position: relative;
    padding-left: 30%;
}

.home {
    padding-top: 10%;
}


.containers.form {
    padding: 19px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 4px;
    height: auto;
    background-color: $rgba;
}

/* concert dates */

.dates {
    color: $fontColour;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9375em;
    margin-bottom: 40px;
    margin-top: 50px;

}


/* concert dates Zebras*/

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: $rgba;
}

th {
    background: rgb(0, 0, 0);
    color: $fontColour;
    font-weight: bold;
}

td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: center;
    color: $fontColour;
}


.member1 {
    color: $fontColour;
    display: grid;
    width: fit-content;
    grid-column: 1/1;
}

.member2 {
    color: $fontColour;
    display: grid;
    width: fit-content;
}

.member3 {
    color: $fontColour;
    display: grid;
    width: fit-content;
}

.member4 {
    color: $fontColour;
    display: grid;
    width: fit-content;
}

.member5 {
    color: $fontColour;
    display: grid;
    width: fit-content;
}

/* footer */

footer {
    grid-area: footer;
    display: grid;
    justify-content: center;
    grid-column-gap: 0px;
    height: 200px;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), #1b1a1a);
    margin-bottom: 0px;
    position: absolute;
    width: 100%;
    align-items: end;
    padding-bottom: 5px;

    h2 {
        display: grid;
        justify-content: center;
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .iconsfit {
        grid-column: 2/3;
        color: $fontColour;
        font-size: 2.5em;

        a {
            color: #fff;
        }
    }
}

.iconsfit {
    i {
        &:hover {
            color: $rgba;
        }
    }

}

/* media */

.media {
    background-color: $backgroundColour;
    display: grid;
    grid-area: main;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    margin-top: 40px;


    .media__player1 {
        grid-column: 3/4;


        .media__player2 {
            grid-column: 1/2;


            .media__player4 {
                grid-column: 2/3;
                grid-row: 2/3;

                .media__player3 {
                    grid-column: 1/2;
                    grid-row: 2/3;

                }
            }
        }
    }
}

/*  PRESS  */

.pressLogos {

    display: grid;
    justify-content: space-evenly;
    height: 295px;
    grid-template-columns: auto auto auto auto auto;
    align-content: center;
    margin-top: 40px;

    .logo {
        display: flex;
        width: auto;


        &.logo:hover {
            transform: scale(1.2, 1.2);
            transition: all 300ms ease-in-out;

        }
    }
}

/* Critics - Carousel */

.critics__text {
    display: flex;
    padding-block: 25px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    color: rgb(182, 182, 182);

}

blockquote {
    border: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: -30px;
    position: relative;
    margin: 0 auto;
    padding-left: 0.4em;

}


blockquote p {
    font-size: 1.4375em;

}


blockquote p:before {
    content: "\201C";
    font-weight: bold;
    font-size: 4.6875em;
    color: $rgba;
    position: fixed;
    left: 3px;
    font-family: 'Georgia';
    top: -2px;
}


blockquote p:after {
    content: "\201D";
    font-weight: bold;
    font-size: 4.6875em;
    color: $rgba;
    position: absolute;
    bottom: -0.6em;
    right: 10px;
    font-family: 'Georgia';

}


/* media queries  */

@media screen and (min-width: 426px) and (max-width: 991px) {

    table {
        width: fit-content;
        border-collapse: collapse;
        background-color: transparent;
        justify-content: center
    }

    ;


    .gridmembers {
        display: flex;
        justify-content: center;
        margin: 15px;
        vertical-align: top;
    }

    ;


    label {
        display: block;
    }

    ;

    .media {

        grid-template-columns: auto;
        grid-template-rows: auto;

    }

    ;

    .pressLogos {

        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

    }

    ;

    .content {
        position: absolute;
        color: $fontColour;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        justify-content: center;
        align-items: center;
        opacity: 0;
        flex-wrap: nowrap;

        &:hover {
            opacity: 1;
            margin-bottom: 25px;
        }

    }

    ;

    .popups {
        top: 65%;
    }

}

@media screen and (max-width: 425px) {
    table {
        width: fit-content;
        border-collapse: collapse;
        font-size: 0.5625em;
        background-color: transparent;
    }

    ;

    label {
        display: block;
    }

    ;

    .media {

        contain: content;
        grid-template-columns: auto;
        grid-template-rows: auto;

    }

    ;

    .pressLogos {

        grid-template-columns: auto;
        grid-template-rows: auto;
        contain: content;
        height: auto;
    }

    ;

    .popups {
        top: 26%;
    }

    ;

    .img {
        display: none;
    }

    ;

    .container-text {
        width: 100%;
    }
}